<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
		
    </startup>
	<appSettings>
		<add key="pathDemoApp" value="C:\Users\User\Desktop\Project\DemoApp\DemoApp"/>

		<add key="xmlFilePath" value="C:\Users\User\Desktop\Project\WatcherProject\WatcherProject\WatcherProject1\bin\Debug\TestResult.xml"/>


		<add key="solutionFile" value="C:\Users\User\Desktop\Project\WatcherProject\WatcherProject\WatcherProject.sln"/>


		<add key="MSBuild" value="C:\Program Files\Microsoft Visual Studio\2022\Community\Msbuild\Current\Bin\MSBuild.exe"/>


		<add key="nunitConsole" value="C:\Users\User\.nuget\packages\nunit.consolerunner\3.15.0\tools\nunit3-console.exe"/>
		<add key="nunitDLL" value="C:\Users\User\Desktop\Project\DemoApp\DemoApp\UnitTestProject1\bin\Debug\UnitTestProject1.dll"/>
		
	</appSettings>
</configuration>